.navbar {
    background-color: #545963;
    width: 170px;
    height: 900px;
    margin: 0 auto;
}

.activeLink {
    color: rgba(3, 214, 161, 1);
    /* text-decoration: underline; */
}

.signOut {
    cursor: pointer;
    /* text-align: center; */
}